@import "tailwindcss";

@theme {
  /* Custom brand colors */
  --color-bengal-green: #3F704D;
  --color-bengal-blue: #3B82F6;
  --color-bengal-dark: #1F2937;
  --color-bengal-accent: #F97316;
}

html {
  scroll-behavior: smooth;
}
